a {
	color: inherit;
	padding: 0 2px;
	outline: none;
	text-decoration: none;
	border-bottom: 2px solid #FF7043;
	-webkit-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
	-moz-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
	transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
}

a:hover {
	color: #FFF;
	background: #FF7043;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	min-height: 100%;
	color: rgba(0,0,0,.87);
	font-family: 'Roboto', 'Noto', sans-serif;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-webkit-touch-callout: none;
	-ms-text-size-adjust: 100%;
	background: #F5F5F5;
	overflow-x: hidden;
}

span.sep {
	margin: 0;
	margin-left: -2px;
	color: inherit;
	display: inline-block;
	-webkit-transform: scale(0.875);
	-moz-transform: scale(0.875);
	transform: scale(0.875);
}

small {
	font-size: 65%;
	opacity: 0.65;
	display: block;
	line-height: 1.4;
}

header {
	position: fixed;
	background: #039BE5 url(bg.jpg) no-repeat right;
	background-size: cover;
	text-align: center;
	height: 320px;
	width: 100%;
	border-bottom: 6px solid #FDD835;
}

header h1 {
	line-height: 60px;
	font-size: 32px;
	padding: 0 10px;
	padding-top: 64px;
	margin: 0 auto;
	color: #FFF;
	width: 100%;
}

header a,
header span.sep {
	color: #FFF;
	opacity: 0.7;
	text-decoration: none;
}

header a,
header a:hover {
	color: inherit;
	background: none;
	border: none;
}

header small {
	padding-top: 8px;
	font-weight: normal;
}

main {
	position: relative;
	top: 224px; /* 320 - (12 * 8) */
	padding-bottom: 64px; /* 8 * 8 */
	z-index: 1;
}

main > section {
	width: 80%;
	min-width: 300px;
	max-width: 800px;
	overflow: hidden;
	background: #FFF;
	padding: 16px 32px;
	margin: 0 auto 16px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

main h2 {
	font-size: 20px;
}

main h2 small {
	font-style: italic;
}

code {
	line-height: 1.45;
	padding: 1px 4px;
	font-family: "Roboto Mono", monospace;
}

pre, code {
	border-radius: 3px;
	background-color: rgb(247, 247, 247);
}

pre {
	font-size: 87.5%;
	padding: 16px;
	overflow: auto;
	background-color: rgb(247, 247, 247);
}

pre code {
	padding: 0;
	line-height: 1.6;
}

.half {
	width: 50%;
	float: left;
	display: inline-block;
}

.half h3 {
	margin-top: 4px;
	margin-bottom: 6px;
}

.half h4 {
	margin-top: 0;
	margin-bottom: 4px;
}

.half p {
	margin-top: 0;
	line-height: 1.6;
	margin-bottom: 16px;
	border-left: 2px solid #039BE5;
	padding-left: 14px;
	margin-left: 2px;
}

.half b,
.half label {
	clear: left;
}

footer {
	color: #9E9E9E;
	opacity: 0.75;
	font-size: 85%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	bottom: 24px;
	width: 100%;
}

.chart {
	position: relative;
	margin: 2em auto 0;
	width: 100%;
	height: 0;
}

.chart > svg {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .axis text {
  font: 9px sans-serif;
}

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: RGB(230, 237, 244);
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.chart .axis path {
  display: none;
}

@media screen and (max-width: 769px) {
	.half {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 481px) {
	header {
		height: 280px;
		background-position: left;
	}
}
